.card{
    border: 1px solid black;
  display: flex;
   border-radius: 10px;
   border:2px solid #6674CC;
    padding: 10px;
   
}
.card:hover{
   
    transition: 0.3s;
    transform: scale(1.1);
}
#img-edit{
    display: flex;
    margin :0px auto;
}
#butcor{
  color: white;
  background-color: #6674CC;
    transition-timing-function: linear;
    transition: width 0.5s;
    width: 130px;
    
    
}
#butcor:hover{
    color: black;
   
     /* transition: 1s;  */
    width: 150px;
}
.btn{
    text-decoration: none;
    
}