.background{
    background: url(https://lwfiles.mycourse.app/62a6cd5e1e9e2fbf212d608d-public/f068200b0c2e168d3d5f8dd7cddd575e.jpeg);
}



.add-btn{
    cursor: pointer;
}

.input{
    border: 2px solid rgb(122, 122, 204);
    border-radius: 22px;
}
