/* ShoppingCart.css */

.shopping-cart {
  
  margin: 20px auto;
  padding: 20px;
  
  border-radius: 8px;
  
}

.course-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.course-thumbnail {
  width: 230px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}

.course-info {
  flex: 1;
}

.total-price {
  margin-bottom: 20px;
}

.promotions {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.apply-coupon {
  margin-top: 10px;
  padding: 8px 16px;
  color: white;
  background-color: #6674CC;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-coupon:hover {
  background-color: #0056b3;
}
